/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Poppins:wght@500&display=swap');

/* common style */
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
/* start nav style */
nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.navigation ul{
    display: flex;
}
.menu-icon{
    display: none;
}
.navigation ul li{
    list-style: none;
    margin-right: 50px;
}
.navigation ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}
.login-btn button{
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
}

/* start banner style */
header{
    background-color: #2827CC;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-info h1{
    color: #FFFFFF;
    font-size: 64px;
}
.watch-btn{
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
}
.banner-img img{
    width: 556px;
    height: 438px;
}
.banner-img{
    transition: transform 5s ease-in-out;
}
.banner-img:hover{
    transform: scale(1.1) rotate(360deg);
}

/* end header style */
/* start main section style */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1200px;
    margin-bottom: 100px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px 10px;

}
.player{
    width: 330px;
    height: 474px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 15px;
    box-shadow: 0px 0px 80px rgba(14, 13, 13, 0.15);
}
.player-thumnail img{
    width: 100%;
}
.player-title{
    font-weight: 700;
    font-size: 28px;
}
.player-details p{
    font-size: 12px;
    color: #6C6C6C;
}
/* end plyer style */

/* start practice style */
.practices{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 100px;
}
.practice{
    width: 250px;
    height: 500px;
}

.practice, .practice-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.practice-thumnail img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
}
.practice-thumnail img:hover{
transform: scale(1.1);
overflow: hidden;
}
.practice-details p{
    font-size: 12px;
    color: #6C6C6C;
}
/* end practice style */
/* start trophie styel */
.trophie-heading{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 0;
}
.trophies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
.trophie{
    width: 300px;
    height: 400px;
}
.trophie-img img{
    width: 100%;
}
.trophie,.trophie-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trophie-details p{
    font-size: 12px;
    color: #6C6C6C;
}
/* end main style */
/* start footer style */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.football-container{
    width: 483px;
    height: 213px;
}
.football-container img{
    width: 100%;
}
.icon{
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: lightgray;
}
.fa-brands{
    background-color: rgba(238, 231, 231, 0.692);
    margin-right: 20px;
    padding: 10px 10px;
    border-radius: 50%;
}
.copyright{
    text-align: center;
    margin-top: 20px;
}
/* footer style end */

/* --------------------
Responsive for mobile by midea query
----------------------------- */

@media only screen and (max-width:688px) {
    .menu-icon{
        display: block;
        font-size: 28px;
        color: #FFFFFF;
    }
    .menu-icon:hover nav ul
    {
        display: block;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-info h1{
        font-size: 40px;
    }
    .banner-img{
        margin-top: 30px;
    }
    .banner-img img{
        width: 300px;
        height: 300px;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin-bottom: 100px;
    }
    .practices{
        grid-template-columns: 0;
        justify-items: center;
    }
    .trophies{
        grid-template-columns: 0;
        justify-items: center;
    }
    .football-container{
        width: 70%;
    }
    .navigation ul{
        display: none;
    }
}

/* for tab  */
@media only screen and (min-width:689px) and (max-width:991px) {
    .navigation ul{
        display: none;
    }
    .menu-icon{
        display: block;
        font-size: 28px;
        color: #FFFFFF;
    }
    .banner-container{
        padding: 20px;
    }
    .banner-info h1{
        font-size: 30px;
    }
    .banner-img img{
        width: 300px;
        height: 300px;
    }
    .container{
        width: 80%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
    }
    .practices{
        grid-template-columns: repeat(2, 1fr);
    }
    .trophies{
      grid-template-columns: repeat(2, 1fr);
    }
    .trophie{
        height: 500px;
    }
    
}