/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.font-miama {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
}

/* sheared styles */
:root {
    --primary-color: #E6533C;
    --white-color: #FFFFFF;
}

/* header related styles */
header {
    background-color: rgba(17, 17, 17, 1.00);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 190px;
}

.brand {
    font-size: 2.2rem;
    font-weight: 900;
    font-style: italic;
    color: var(--primary-color);
}

.nav-items {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 12px 20px;
}

.nav-items .nav-item {
    margin-left: 47px;
    list-style: none;
}

.nav-item:first-child {
    margin-left: 0;
    background-color: var(--primary-color);
    padding: 8px 20px;
    border-radius: 48px;
}

.nav-items .nav-item a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--white-color);
    cursor: pointer;
}

/* banner related style */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 190px 0 190px;
}

.banner-info {
    max-width: 520px;

}

.banner-title {
    font-size: 4.87rem;
    color: var(--white-color);
    font-weight: bolder;
}