/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.font-miama {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* sheared styles */
:root {
    --primary-color: #E6533C;
    --white-color: #FFFFFF;
}

.gray-color {
    color: rgba(255, 255, 255, 0.5);
}

.btn-primary {
    background: rgba(230, 83, 60, 1);
    padding: 16px 42px;
    border-radius: 42px;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    border: none;
}

.margin-tb {
    margin: 20px 0;
}

/* header related styles */
header {
    background: linear-gradient(rgb(0, 0, 0), rgb(31, 30, 30));
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 190px;
    padding-top: 30px;
}

.menu-icon {
    display: none;
    width: 24px;
    height: 24px;
    background-color: var(--white-color);
}

.brand {
    font-size: 2.2rem;
    font-weight: 900;
    font-style: italic;
    color: var(--primary-color);
}

.nav-items {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 1px 1px;
}

.nav-items .nav-item {
    margin-left: 47px;
    list-style: none;
}

.nav-item:first-child {
    margin-left: 0;
    background-color: var(--primary-color);
    padding: 8px 20px;
    border-radius: 48px;
}

.nav-items .nav-item a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--white-color);
    cursor: pointer;
}

/* banner related style */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 190px 0 190px;
}

.banner-info {
    max-width: 520px;

}

.banner-title {
    font-size: 4rem;
    color: var(--white-color);
    font-weight: bolder;
    margin-bottom: 28px;
}

.btn-container {
    margin-top: 20px;
}

.btn-app {
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 1rem 3.2rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 42px;
    color: rgba(255, 255, 255, 1);
    background-color: inherit;
    margin-left: 16px;
}

.video-tutorial {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 206px;
    height: 96px;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    position: relative;
    left: -59px;
    top: -200px;
}

.ball {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.tutorial-amount {
    font-size: 1.5rem;
    color: rgba(250, 250, 249, 1);
    font-weight: 900;
}

.tutorial-title,
.workout-title {
    color: rgba(239, 237, 232, 0.65);
}

.workout-videos {
    width: 160px;
    height: 70px;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    padding: 17px 24px;
    top: -497px;
    right: -138px;
    position: relative;
}

.workout-amounts {
    font-size: 40px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
}

/* main part start */
main {
    background-color: rgba(0, 0, 0, 1);
}

/* habbit section related styles */
.habbit {
    padding: 100px 190px 0 190px;
}

.habbit-title,
.run-title,
.calculator-title,
.team-title,
.price-plan-title {
    font-size: 3rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
}

.habbit-info {
    max-width: 576px;
    margin: 0 auto;
    text-align: center;
}

.habbit-description,
.habbit-cart-descrition,
.run-description,
.calculator-description,
.bmi-description,
.team-description,
.price-plan-description {
    font-size: 0.8rem;
}

.habbit-cart-container {
    text-align: center;
    margin-top: 58px;
}

.habbit-cart-img {
    max-width: 180px;
    max-height: 180px;
    border-radius: 100px;
}

.habbit-cart-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.habbit-cart-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* run related styles */
.run-container {
    margin-left: 190px;
    margin-right: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: rgba(34, 34, 34, 1);
    padding: 40px 54px;
    border-radius: 18px;
    margin-top: 100px;
}

.run-column {
    width: 50%;
}

.run-img {
    width: 100%;
    border-radius: 18px;
}

/* calculator realte styles */
.calculator-info {
    max-width: 671px;
    text-align: center;
    margin: 88px auto;
}

.chart-title,
.bmi-title {
    font-size: 1.75rem;
    color: var(--white-color);
}

.chart-title {
    margin-bottom: 42px;
}

.calculator-container {
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: space-between;
    padding: 52px 190px;
    align-items: center;

}

th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 20px;
}

table {
    border-collapse: collapse;
}

.table-head th {
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 20px;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    padding: 15px 20px;
}


.bmi-title {
    margin-bottom: 14px;
}




.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 12px;
    margin: 34px 0;
}

select option {
    color: black;
}

#activity-factor {
    grid-column: span 2;
}

input,
select {
    padding: 13px 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border: none;
}


input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

/* team related styles */
.team {
    padding: 0 190px 88px 190px;
}

.team-info {
    max-width: 671px;
    text-align: center;
    margin: auto;
    padding: 58px 0;
}

.team-album {
    background-color: rgba(34, 34, 34, 1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
}

.trainer-img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.trainer-info {
    position: relative;
    top: -90px;
    left: 30px;
}

.trainer-name {
    color: rgba(255, 255, 255, 1);
    font-size: 1.25rem;
}

.designation {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.5rem;
}

/* price plan related style */
.price-plan-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    padding: 0 190px;
}

.price-plan {
    padding-bottom: 100px;
}

.price-plan-info {
    text-align: center;
}

.plan-cart {
    background-color: rgba(34, 34, 34, 1);
    text-align: center;
    padding: 50px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-title {
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    margin-bottom: 30px;
}

.cart-title::before {
    content: " ";
    width: 50px;
    height: 2px;
    background: #f63c25;
    position: absolute;
    left: 133px;
    top: 95px;
}

.cart-price {
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
}

.cart-price .price-digit {
    font-size: 3rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.pricing-item {
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    line-height: 3rem;
    list-style: none;
}

.price-btn {
    background: rgba(230, 83, 60, 1);
    padding: 10px 25px;
    border-radius: 42px;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    border: none;
}


/* footer realted styles */
footer {
    background-color: rgba(34, 34, 34, 1);
    padding: 66px 190px;
}

.footer-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    align-items: center;
    gap: 100px;

}

.fitness-title {
    font-size: 4.37rem;
    font-weight: 800;
    color: rgba(230, 83, 60, 1);
}

.fitness-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    line-height: 1.5rem;
}


.get-started-title {
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
}

.get-started span {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 2rem;

}

hr {
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 79px 0 36px 0;
}

.footer-description {
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}




/* responsive for mobile device */
@media screen and (max-width:576px) {
    nav {
        margin: 0 20px;
    }

    .nav-items {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    /* banner related styles */
    .banner {
        flex-direction: column;
        margin: 0 20px;
    }

    .video-tutorial {
        left: -17px;
    }

    .btn-app,
    .btn-primary {
        padding: 10px 20px;
    }

    /* habbit related styles */
    .habbit {
        padding: 20px;
    }

    .habbit-cart-container {
        grid-template-columns: 1fr;
    }

    /* run related styles */
    .run-container {
        flex-direction: column;
        margin: 0 20px;
        padding: 20px;
    }

    .run-column {
        width: 100%;
        margin-bottom: 20px;
    }

    /* calculator related styles */
    .calculator-container {
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;


    }

    .calculator-bmi {
        max-width: 310px;
    }

    .calculator-bmi-info {
        width: 100%;
    }

    .form-container {
        grid-template-columns: 170px 170px;
        padding: 10px;
        gap: 5px;
    }

    input,
    select {
        padding: 9px 8px;
    }

    /* team related styles */
    .team {
        padding: 20px;
    }

    .team-album {
        grid-template-columns: 1fr;
    }

    /* footer related styles */
    footer {
        padding: 20px;
    }

    .footer-container {
        grid-template-columns: 1fr;
    }

    /* price plan related style */
    .price-plan-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .cart-title::before {
        left: 158px;
    }

}